*{
    font-family: Helvetica, Roboto, 'Segoe UI';
    font-weight: 100px;
}
body{
    height: 100vh;
    margin: 0;
}

header, nav, footer, section, article, div {
    box-sizing: border-box;
}

body,article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

.btn{
    border-style: none;
    text-decoration: none;
    color: white;
    background: #4287f5;
}
    .btn.s{
        border-radius: 2px;
        padding: 8px 12px;
    }

a{
    text-decoration: none;
    color: #333333; 
}
    a:hover{
        cursor: pointer;
    }
.card{
    height: fit-content;
    border-radius: 4px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
}
    .card h2{
        color: white;
        margin:0;
        padding: 8px 12px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        font-size: 20px;
        background: #4287f5;
    }
    .card p{
        margin: 12px;
        font-size: 16px;
    }
.header{
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #333333; 
}
.header-logo{
    padding: 0 16px;
    height: 80%;
}
.header-title{
    font-size: 16px;
    text-align: center;
}
.signin{
    width: 15%;
    padding: 0 16px;
    color: #4287f5;
    text-align: center;
}

.nav{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header+.nav{
    box-shadow: 0px 10px 10px 0 rgba(0,0,0,0.08);
}

.nav-list{
    height: 48px;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    }
    .nav-item{
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .nav-item.active{
        border-bottom: 4px solid #4287f5;
    }
        .nav-item.active a{
            color: #4287f5;
        }
main{
    position: absolute;
}
.content{
    padding: 12px 0;
}
.first{
    height: fit-content;
    margin: 16px;
}
    .searchbar{
        width: 100%;
        height: 36px;
        display: flex;
        border: 1px solid #e4e4e4;    
    }
        .searchbar.active{
            border: 1px solid #4287f5;
        }
        .searchbar input{
            padding: 0 16px;
            width: 80%;
            height: 100%;
            border: none;
            background: transparent;
        }
            .searchbar input:focus{
                outline: unset;
            }
        .searchbar button{
            width: 20%;
            color: #4287f5;
            background: transparent;
        }
            .searchbar button:focus{
                outline: 1px solid #4287f5;
            }
            /* .searchbar.active button{
                color: #4287f5;
            } */
        .slogan{
            text-align: center;
        }
.headline{
    position: relative;
    height: 224px;
    background-image: url("../img/Top-Digital-Art-Wallpaper-2017.jpg");
    background-size: cover;
    background-position-x: center;
}
    .headline article{
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 8px;
        color: white;
        background: rgba(0,0,0,0.5);
    }
        .headline article h2{
            font-size: 16px;
            margin: 0;
        }
        .headline article p{
            font-size: 12px;
            margin: 8px 0;
        }
.register{
    margin: 24px 16px;
}
    .btn-center{
        margin: 0;
        padding: 16px;
        text-align: center;
        height: fit-content;
    }
footer{
    /* position: absolute; */
    background: #f2f2f2;
    padding: 12px 16px;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #e4e4e4;
}
    footer ul{
        padding: 0;
        margin: 0;
        display: block;
        list-style: none;
    }
        footer li{
            display: inline-block;
            margin: 0 8px;
        }
