/*papan pencarian*/
.umpat{
    display: none;
}
.cari-bar{
    width: 100%;
    height: fit-content;
    display: flex;
}
.cari-bar>input{
    border: unset;
    border-bottom: inset  1px rgba(51,51,51,0.15);
    padding: px;
    width: 100%;
}
.cari-bar>button{

}
.navigasi a{
    min-width: 48px;
    min-height: 48px;
}

/*slide gambar*/
.slide{
    margin: 8px 0 8px 0;
}
/*tombol*/
.tombol{
    color: white;
    background: #222222;
    border-style: none;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 1.6px;
}
.l{
    min-height: 56px;
    min-width: 56px;
}
.m{
    min-height: 52px;
    min-width: 52px;
}
.s{
    min-height: 48px;
    min-width: 48px;
}
.primer{
    background: rgb(45, 101, 255);
}

/*form*/